body {
  font-family: sans-serif;
  font-size: .9em;
  font-weight: lighter;
}

ul {
  padding: 0;
  list-style-type: none;
}

.error-list pre {
  display: inline;
}

.error-list li {
  background-color: rgba(255, 99, 71, .05);
  padding: 5px;
  margin-bottom: 5px;
}

.error-list .row {
  font-style: italic;
}

.error-list .file {
  font-weight: bolder;
}

.error-list .type {
  font-variant: small-caps;
}

.error-list li.summary {
  background-color: rgba(255, 71, 71, .8);
  font-weight: normal;
  color: white;
}
